/* body{
      background-color: #ffc107;
} */

.jumbotron{
      padding-top: 6rem;
      background-color:#e2edff  ;
}

#projects{
      background-color:#e2edff ;
}

section{
      padding-top: 5rem;
}
i{
      /* color: red; */
}
/* #about{
      background-color: #343a40;
} */

/* #contact{
      background-color: #343a40;
      
} */